<%- include('../partials/header') -%>
<%- include('../partials/adminnavbar') -%>
    
    <div class="container">
        <% if(error.length > 0 || success.length > 0){ %>
            <div class="flashMsg">
                <div class="centerAlign">
                    <% if(error && error.length > 0){ %>
                        <div class="ui floating error message flashSize">
                            <i class="close icon exitFlash"></i>
                            <div><%= error %></div>
                        </div>
                    <% } %>
                    <% if(success && success.length > 0){ %>
                        <div class="ui floating success message flashSize">
                            <i class="close icon exitFlash"></i>
                            <div><%= success %></div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
        <h1 class="ui header center aligned editHeader">Special Awards</h1>
        <% if(!foundState.state){ %>
            <div class="center addBtn">
                <button class="ui primary button">Add Award</button>
            </div>
            <div class="ui modal text-center" id="addModal">
                <i class="close icon"></i>
                <div class="header">
                    <h1 class="ui header">Add Award For Judge</h1>
                    <form class="ui form"  action="/award/judge" method="POST">
                        <div class="field">
                            <input type="text" name="awardName" class="editInput" id="name" placeholder="Award Name" required>
                        </div>
                        <div class="ui red inverted cancel button regCanBtn">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                        <button class="ui green ok inverted button">
                            <i class="checkmark icon"></i>
                            Add
                        </button>
                    </form>
                </div>
            </div>
        <% } %>
        <div class="ui four doubling stackable cards center aligned cardForAward">
            <% awards.forEach((award) =>{ %>
                <% if(award.forJudge){ %>
                    <div class="card awardsCard expoCard">  
                        <div class="content">
                            <a class="header"><%= award.awardName %> Award</a>
                        </div>
                        <% if(ifAdmin && !foundState.state){ %>
                            <div class="extra content center aligned">
                                <div class="ui buttons">
                                    <a class="ui button" href="/award/<%= award._id %>/edit/judge">
                                        Edit
                                    </a>
                                    <div class="or"></div>
                                    <form class="deleteBtn" action="/award/<%= award._id %>?_method=DELETE" method="POST">
                                        <button class="ui red button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% }) %> 
        </div>
    </div>
<%- include('../partials/footer') -%>